<html>

<body
    style="width: 100%; height: 100%; background-color: #ecf0f1; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <br><br><br>
    <div style="width: 70%; margin: 0 auto; padding: 20px; background-color: white">
        <div style="padding: 20px; line-height: 2rem; font-size: 1.4rem;">

        </div>
        <p style="font-size: 1.5rem;">
            Olá, <strong>{{ fullname }}</strong>.
        </p>
        <p>
            Uma recuperação de senha foi realizada com sucesso no {{ appName }} em <strong>{{ currentTime }}</strong>.
            <br />
        </p>
        <p>
            Se não foi você que solicitou ou alterou sua senha, contate-nos o mais brevemente possível através do email
            ti@francodarocha.sp.gov.br ou através do número (11) 4800-1710</p>
        </p>
        <hr />
        <center style="padding: 20px;">
            <p>PMFR | Diretoria de TI</p>
        </center>
    </div>
    <br><br><br>
</body>

</html>