<html>

<body style="width: 100%; height: 100%; background-color: #ecf0f1; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <br><br><br>
    <div style="width: 70%; margin: 0 auto; padding: 20px; background-color: white">
        <div style="padding: 20px; line-height: 2rem; font-size: 1.4rem;">

        </div>
        <p style="font-size: 1.5rem;">
            Olá, <strong>{{ fullname }}</strong>.
        </p>
        <p>
            Você solicitou uma recuperação de senha em <strong>{{ currentTime }}</strong>.
            <br/>
            Sua chave de segurança para recuperação: <strong>{{ recoveryKey }}</strong>
        </p>
        <p> Se não foi você quem solicitou a mudança, por favor, desconsidere este email. </p>
        <hr />
        <center style="padding: 20px;">
            <p>PMFR | Diretoria de TI</p>
        </center>
    </div>
    <br><br><br>
</body>

</html>